@import '../main.scss';

body{
    .recordDetail{
        header{
            .container{
                .left{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    hr{
                        width: 18px;
                        height: 2px;
                        border: none;
                        margin-left: 3px;
                        border-radius: 1px;
                        display: inline-block;
                        background-color: $icon_black;
                        ~hr{
                            margin-top: -2px;
                        }
                        &:nth-of-type(odd){
                            width: 11px;
                            transform-origin: left center;
                        }
                        &:nth-of-type(1){
                            transform: rotateZ(40deg);
                        }
                        &:nth-of-type(3){
                            transform: rotateZ(-40deg);
                        }
                    }
                }
                .center{
                    font-weight: 400;
                }
                .right{
                    
                }
            }
        }
        main{
            .container{
                .board{
                    $iconWidth: 32px;
                    position: relative;
                    padding: $screen_side;
                    .title{
                        width: 100%;
                        display: flex;
                        padding: 30px 0;
                        height: $iconWidth;
                        align-items: center;
                        flex-direction: row;
                        line-height: $iconWidth;
                        justify-content: center;
                        .iconBox{
                            width: 36px;
                            .icon{
                                width: $iconWidth;
                                height: $iconWidth;
                            }
                        }
                        h2{
                            flex: 1;
                            font-size: 20px;
                            padding-left: 30px;
                        }
                    }
                    ul{
                        padding-top: 15px;
                        padding-bottom: 30px;
                        border-top: 1px solid #EEE;
                        li{
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            justify-content: flex-start;
                            +li{
                                padding-top: 15px;
                            }
                            span{
                                line-height: inherit;
                                display: inline-block;
                                &:nth-of-type(1){
                                    width: 36px;
                                    color: $icon_black; 
                                }
                                &:nth-of-type(2){
                                    flex: 1;
                                    padding-left: 30px;
                                }
                            }
                        }
                    }
                    a{
                        right: 15px;
                        width: 50px;
                        height: 50px;
                        bottom: -25px;
                        position: absolute;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: $main_color;
                    }
                }
            }
        }
        .fixbox{
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            display: flex;
            position: fixed;
            transition: .3s;
            align-items: center;
            flex-direction: row;
            pointer-events: none;
            justify-content: center;
            background-color: rgba(0,0,0,.6);
            .lightbox{
                height: 160px;
                display: flex;
                max-width: 600px;
                position: relative;
                border-radius: 2px;
                flex-direction: column;
                align-items: flex-start;
                background-color: #FFF;
                justify-content: flex-start;
                padding: calc(#{$screen_side} * 2);
                box-shadow: 0 4px 12px rgba(0,0,0,.2);
                width: calc(100% - (#{$screen_side} * 4));
                h3{
                    font-size: 18px;
                }
                p{
                    padding-top: 10px;
                }
                >div{
                    right: 0px;
                    bottom: 0px;
                    display: flex;
                    position: absolute;
                    align-items: center;
                    flex-direction: row;
                    justify-content: flex-end;
                    .btn{
                        width: 60px;
                        height: 40px;
                        text-align: center;
                        color: $text_yellow;
                    }
                }
            }
            &.open{
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}