// varibale
$main_color: #F9DB61;
$text_black: #333;
$icon_black: #999;
$clicking_gray: #EEE;
$background_blue: #fafeff;
$screen_side: 10px;
$header_height: 45px;
$board_border: 1px solid #eee;
$board_shadow: 0 1px 3px rgba(0,0,0,.1);
$lightbox_background: rgba(0,0,0,.5);

// reset
*{
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 14px;
    list-style: none;
    font-weight: 300;
    border-radius: 0;
    line-height: 22px;
    border-spacing: 0;
    letter-spacing: 0;
    color: $text_black;
    box-sizing: border-box;
    background-size: cover;
    vertical-align: baseline;
    background-position: center;
    background-repeat: no-repeat;
    font-family: '微軟正黑體', 'Noto Sans TC';
    -webkit-tap-highlight-color: transparent;
}
a:link, a:visited, a:hover, a:active{
    color: $text_black;
    text-decoration: none;
}

html{
	width: 100%;
	overflow-x: hidden;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $background_blue;
    >div{
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        padding-bottom: 70px;
        padding-top: $header_height;
    }
}
.container{
    width: 100%;
    margin: 0 auto;
    padding-left: $screen_side;
    padding-right: $screen_side;
}
header{
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
    height: $header_height;
    background-color: #fff;
    box-shadow: $board_shadow;
    border-bottom: $board_border;
    .container{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .left, .right{
            width: $header_height;
            height: $header_height;
            padding: 0 $screen_side;
        }
        .left{
            margin-left: -$screen_side;
        }
        .right{
            margin-right: -$screen_side;
        }
        .center{
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-start;
            .headerTitle, &.headerTitle{
                min-width: 60px;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}
.board{
    border-radius: 4px;
    border: $board_border;
    background-color: #fff;
    box-shadow: $board_shadow;
    +.board{
        margin-top: $screen_side;
    }
}
.clickStyle{
    cursor: pointer;
    background-color: #FFF;
    transition: background-color .2s;
    &.mousedown{
        background-color: $clicking_gray;
    }
}
main{
    .container{
        padding-top: 10px;
    }
}
.icon{
    border-radius: 50%; 
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(152, 221, 255);
    &.color_0{
        background-color: #E37C76;
    }
    &.color_1{
        background-color: #E66F97;
    }
    &.color_2{
        background-color: #6ABDDF;
    }
    &.color_3{
        background-color: #6FC4AA;
    }
    &.color_4{
        background-color: #94CE60;
    }
    &.color_5{
        background-color: #F5BD62;
    }
    &.color_6{
        background-color: #B883D3;
    }
    &.color_7{
        background-color: #879BEA;
    }
    &.icon_0{
        background-size: 100%;
        background-image: url('../assets/classIcon/icon_0.png');
    }
    &.icon_1{
        background-image: url('../assets/classIcon/icon_1.png');
    }
    &.icon_2{
        background-image: url('../assets/classIcon/icon_2.png');
    }
    &.icon_3{
        background-image: url('../assets/classIcon/icon_3.png');
    }
    &.icon_4{
        background-size: 70%;
        background-image: url('../assets/classIcon/icon_4.png');
    }
    &.icon_5{
        background-size: 70%;
        background-image: url('../assets/classIcon/icon_5.png');
    }
    &.icon_6{
        background-size: 70%;
        background-image: url('../assets/classIcon/icon_6.png');
    }
    &.icon_7{
        background-size: 70%;
        background-image: url('../assets/classIcon/icon_7.png');
    }
    &.icon_8{
        background-size: 70%;
        background-image: url('../assets/classIcon/icon_8.png');
    }
    &.icon_9{
        background-image: url('../assets/classIcon/icon_9.png');
    }
    &.icon_10{
        background-image: url('../assets/classIcon/icon_10.png');
    }
    &.icon_11{
        background-image: url('../assets/classIcon/icon_11.png');
    }
    &.icon_12{
        background-image: url('../assets/classIcon/icon_12.png');
    }
    &.icon_13{
        background-image: url('../assets/classIcon/icon_13.png');
    }
    &.icon_14{
        background-image: url('../assets/classIcon/icon_14.png');
    }
    &.icon_15{
        background-image: url('../assets/classIcon/icon_15.png');
    }
    &.icon_16{
        background-image: url('../assets/classIcon/icon_16.png');
    }
}