@import '../main.scss';

.calendar.fixbox{
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: .2s;
    pointer-events: none;
    @include flexbox(row, center, center);
    background-color: $lightbox_background;
    .lightbox{
        $padding: 15px;
        width: 300px;
        height: 500px;
        border-radius: 6px;
        overflow: hidden;
        background-color: #FFF;
        box-shadow: 0px 4px 12px rgba(0,0,0,.1);
        @include flexbox(column, center, center);
        .title{
            width: 100%;
            padding: $padding;
            background-color: $text_yellow;
            span{
                color: #FFF;
                font-weight: 400;
            }
            h2{
                color: #FFF;
                font-size: 32px;
                font-weight: 600;
                padding-top: 5px;
                line-height: 32px;
            }
        }
        .content{
            flex: 1;
            position: relative;
            padding: $padding;
            .selectMonth{
                height: 40px;
                @include flexbox(row, space-between, center);
                span{
                    flex: 1;
                    height: 100%;
                    padding: 10px;
                    cursor: pointer;
                    @include flexbox(column, center, center);
                    &:before, &:after{
                        width: 9px;
                        height: 2px;
                        content: '';
                        border-radius: 1px;
                        display: inline-block;
                        background-color: $text_black;
                    }
                    &:after{
                        margin-top: 3px;
                    }
                    $rotateDeg: 45;
                    &:nth-of-type(1){
                        align-items: start;
                        &:before{
                            transform: rotateZ(-#{$rotateDeg}deg);
                        }
                        &:after{
                            transform: rotateZ(#{$rotateDeg}deg);
                        }
                    }
                    &:nth-of-type(2){
                        align-items: flex-end;
                        &:before{
                            transform: rotateZ(#{$rotateDeg}deg);
                        }
                        &:after{
                            transform: rotateZ(-#{$rotateDeg}deg);
                        }
                    }
                }
                div{
                    height: 100%;
                    font-weight: 600;
                    @include flexbox(row, center, center);
                }
            }
            .selectDay{
                padding-top: 10px;
                ol{
                    flex-wrap: wrap;
                    @include flexbox(row, flex-start, center);
                    li{
                        height: 39px;
                        font-weight: 400;
                        width: calc(100% / 7);
                        @include flexbox(row, center, center);
                    }
                    &:nth-of-type(1){
                        li{
                            color: $icon_black;
                        }
                    }
                    &:nth-of-type(2){
                        li{
                            cursor: pointer;
                            border-radius: 50%;
                            &.select{
                                color: #FFF;
                                background-color: $text_yellow;
                            }
                        }
                    }
                }
            }
            .action{
                position: absolute;
                bottom: 0;
                right: 0;
                @include flexbox(row, flex-end, center);
                div{
                    cursor: pointer;
                    font-weight: 400;
                    padding: 15px 25px;
                    color: $text_yellow;
                    &:nth-of-type(1){
                        
                    }
                    &:nth-of-type(2){
                    }
                }
            }
        }
    }
    &.open{
        opacity: 1;
        pointer-events: auto;
    }
}